pillow
llvmlite
python_speech_features
tqdm
sox
ruamel.yaml
tqdm
boto3
requests
six
ipdb
h5py
html2text
nltk
progressbar
wget
pandas
onnx==1.4.1
wget
num2words
librosa
inflect
kaldi-io
marshmallow
unidecode
boto3
h5py
cython
youtokentome
scikit-learn==0.21.3
